<

body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1 {
    color: #333333;
    font-size: 3em;
    orientation: center;
    text-align: center;
    
}
video {
    min-width: 600px;
    min-height: 400px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    align-content: center;
    padding: 30px;
    border: medium;
    border-color: black;
}
